node-red-sms
[{"id":"797c262e.2c5518","type":"ui_form","z":"2060cb2f.c779d4","name":"Get Input","label":"","group":"770d6fa.1e1229","order":0,"width":"0","height":"0","options":[{"label":"Number","value":"number","type":"number","required":true},{"label":"Message","value":"message","type":"text","required":true}],"formValue":{"number":"","message":""},"payload":"","topic":"","x":107,"y":152,"wires":[["f9d2c605.320188","216dfd45.c35812","d493348b.938738"]]},{"id":"f9d2c605.320188","type":"function","z":"2060cb2f.c779d4","name":"Send 'To' Number","func":"var num = msg.payload.number;\nvar at_cmd = \"AT+CMGS=\\\"\"+num+\"\\\"\"; \n\nmsg.payload=at_cmd+\"\\r\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":"1","noerr":0,"x":415,"y":105,"wires":[["dc0e90fe.66132"]]},{"id":"dc0e90fe.66132","type":"serial out","z":"2060cb2f.c779d4","name":"Serail-Out","serial":"93485f7d.0073f","x":805,"y":45,"wires":[]},{"id":"c3fbfb60.4900d8","type":"function","z":"2060cb2f.c779d4","name":"Send Message","func":"var sms_msg = msg.payload.message;\n\nmsg.payload=sms_msg+\"\\x1A\";\n//msg.payload.msg =msg.payload.message;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":422,"wires":[["dc0e90fe.66132"]]},{"id":"216dfd45.c35812","type":"delay","z":"2060cb2f.c779d4","name":"Wait for > prompt","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":292,"y":360,"wires":[["c3fbfb60.4900d8"]]},{"id":"d493348b.938738","type":"delay","z":"2060cb2f.c779d4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":344,"y":273,"wires":[["abd26de3.852c3"]]},{"id":"abd26de3.852c3","type":"function","z":"2060cb2f.c779d4","name":"Write newline","func":"msg.payload=\"\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":256,"wires":[["dc0e90fe.66132"]]},{"id":"6b7a2b6a.740544","type":"serial in","z":"2060cb2f.c779d4","name":"Serial-In","serial":"93485f7d.0073f","x":836,"y":199,"wires":[["8d7199e9.55e978"]]},{"id":"8d7199e9.55e978","type":"debug","z":"2060cb2f.c779d4","name":"","active":true,"console":"false","complete":"false","x":864,"y":389,"wires":[]},{"id":"770d6fa.1e1229","type":"ui_group","z":"","name":"SMS","tab":"7f142395.74446c","order":1,"disp":true,"width":"6"},{"id":"93485f7d.0073f","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n\\r","bin":"false","out":"char","addchar":false},{"id":"7f142395.74446c","type":"ui_tab","z":"","name":"SMS","icon":"dashboard"}]